<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Newsletter</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
  </head>
  <body>
    <main class="login__page">
      <div class="subscribe__form">
        <div class="newsletter__title">
          <h2><a href="{% url 'homepage' %}">Subscribe</a></h2>
        </div>
        <div class="newsletter__form">
          <p
            style="
              color: rgba(0, 0, 0, 0.7);
              text-align: center;
              margin-bottom: 2rem;
            "
          >
            Subscribe to my Newsletter to receive updates everytime a new post
            comes out!
          </p>
          <input
            type="text"
            name="email"
            placeholder="youremail@mail.com"
            required
          />
          <div class="sub-response"></div>
          {% csrf_token %}
          <button onclick="subscribe()">Subscribe</button>
        </div>
      </div>
    </main>
    <script src="{% static '/js/app.js' %}"></script>
  </body>
</html>
