<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update News</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Mobile Navbar -->
    <div class="navbar__mobile">
          <div class="items__mobile">
            <ul>
              <li><a href="{% url 'homepage' %}">HOME</a></li>
          <li><a href="{% url 'all-news' %}">NEWS</a></li>
          <li><a href="{% url 'all-posts' %}">BLOG</a></li>
          <li><a href="{% url 'about-me' %}">ABOUT</a></li>
          <li><a href="{% url 'contact-me' %}">CONTACT</a></li>
            </ul>
          </div>
        </div>

<!-- Main Navbar -->
    <nav>
      <div class="navbar">
        <div class="upper-navbar">
          <div class="logo">
            <img src="{% static '/images/logo-marti.svg' %}" />
          </div>
          <a href="#"
            ><img src="{% static '/images/facebook.svg' %}" alt="facebook"
          /></a>
          <a href="#"
            ><img src="{% static '/images/instagram.svg' %}" alt="instagram"
          /></a>

          <a href="#"><img src="{% static '/images/rss.svg' %}" alt="newsletter" /></a>

          <div class="hamburger">
            <button href="">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </button>
          </div>
        </div>
        <div class="nav-space">
          <div class="items">
            <ul>
              <li><a href="{% url 'homepage' %}">HOME</a></li>
          <li><a href="{% url 'all-news' %}">NEWS</a></li>
          <li><a href="{% url 'all-posts' %}">BLOG</a></li>
          <li><a href="{% url 'about-me' %}">ABOUT</a></li>

            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- If messages in request -->
    <main class="main-postpage">
        {% if messages %}
            {% for message in messages %}
                <div class="message">
                    <div class="message__text">
                      <small style="margin-right: auto">{{ message }}</small>
                      <button onclick="switchOff()">
                        <img src="{% static '/images/exit.svg' %}" />
                      </button>
                    </div>
                </div>
        {% endfor %}
        {% endif %}

        <!-- Create Post form -->
        <div class="author">
        <h2 style="text-align: center">Update News...</h2>
        <form method="POST" enctype='multipart/form-data'>
          {% csrf_token %}
          <label for="title"> Title: </label>
          <input
            type="text"
            id="title"
            name="title"
            value="{{ news.title }}"
          />
          <label for="summary">Summary: </label>
          <input
            type="text"
            id="summary"
            name="summary"
            value="{{ news.summary }}"
          />
          <label for="news">News:</label>
          <textarea
            id="news"
            name="news"
            cols="8"
            rows="18"

          >{{ news.news|safe }}</textarea>
          <div class="form__images">
            <label for="thumbnail">Cover Pic: </label>
            <input
              type="file"
              id="thumbnail"
              name="thumbnail"
              style="border: none"
            />

          </div>
          <div class="form__tags">
            <label for="tags">Tags: </label>
            <input id="tags"
              type="text"
              name="tags"
              placeholder="e.g.: tag1, tag2, tag3..."
                   value="{{ tags }}"
            />
          </div>

          <div class="form__button">
            <button type="submit">Update</button>
            <button disabled><a href="{% url 'all-news' %}">Cancel</a></button>
          </div>
        </form>
      </div>

    </main>
    <footer>
      <div class="footer">
        <div class="upper-footer">
          <div class="icons">
            <a href="#"
              ><img src="{% static '/images/facebook-light.svg' %}" alt="facebook"
            /></a>
            <a href="#"
              ><img src="{% static '/images/instagram-light.svg' %}" alt="instagram"
            /></a>

          </div>
        </div>
        <div class="lower-footer">
          <div class="footnotes">
            <p>@BlockBusterGirl</p>

            <p><a href="{% url 'contact-me' %}">Contact Me</a></p>
          </div>
        </div>
      </div>
    </footer>
<script src="{% static '/js/app.js' %}"></script>
  </body>
</html>
