<footer>
      <div class="footer">
        <div class="upper-footer">
          <div class="icons">
            <a href="#"
              ><img src="{% static '/images/facebook-light.svg' %}" alt="facebook"
            /></a>
            <a href="#"
              ><img src="{% static '/images/instagram-light.svg' %}" alt="instagram"
            /></a>
            <a href="#"
              ><img src="{% static '/images/twitter-light.svg' %}" alt="twitter"
            /></a>
          </div>
        </div>
        <div class="lower-footer">
          <div class="footnotes">
            <p>@BlockBusterGirl</p>

            <p><a href="{% url 'contact-me' %}">Contact Me</a></p>
          </div>
        </div>
      </div>
    </footer>
<script src="{% static '/js/app.js' %}"></script>