
<!-- Mobile Navbar -->
    <div class="navbar__mobile">
          <div class="items__mobile">
            <ul>
              <li><a href="{% url 'homepage' %}">HOME</a></li>
              <li><a href="{% url 'all-news' %}">NEWS</a></li>
              <li><a href="{% url 'all-posts' %}">BLOG</a></li>
              <li><a href="{% url 'about-me' %}">ABOUT</a></li>
              <li><a href="{% url 'contact-me' %}">CONTACT</a></li>
            </ul>
          </div>
        </div>

<!-- Main Navbar -->
    <nav>
      <div class="navbar">
        <div class="upper-navbar">
          <div class="logo">
            <img src="{% static '/images/logo-marti.svg' %}" />
          </div>
          <a href="#"
            ><img src="{% static '/images/facebook.svg' %}" alt="facebook"
          /></a>
          <a href="#"
            ><img src="{% static '/images/instagram.svg' %}" alt="instagram"
          /></a>
          <a href="#"
            ><img src="{% static '/images/twitter.svg' %}" alt="twitter"
          /></a>
          <a href="#"><img src="{% static '/images/rss.svg' %}" alt="newsletter" /></a>

          <div class="hamburger">
            <button href="">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </button>
          </div>
        </div>
        <div class="nav-space">
          <div class="items">
            <ul>
              <li><a href="{% url 'homepage' %}">HOME</a></li>
              <li><a href="{% url 'all-news' %}">NEWS</a></li>
              <li><a href="{% url 'all-posts' %}">BLOG</a></li>
              <li><a href="{% url 'about-me' %}">ABOUT</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
